---
- name: Remove conflicting Docker packages
  ansible.builtin.yum:
    name:
      - docker
      - docker-client
      - docker-client-latest
      - docker-common
      - docker-latest
      - docker-latest-logrotate
      - docker-logrotate
      - docker-engine
      - podman
      - runc
    state: absent

- name: Install dnf-plugins-core
  ansible.builtin.yum:
    name: dnf-plugins-core
    state: present

- name: Add Docker CE repository
  ansible.builtin.shell:
    cmd: dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo
    creates: "/etc/yum.repos.d/docker-ce.repo"

- name: Install Docker packages
  ansible.builtin.yum:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Enable and start Docker service
  ansible.builtin.systemd:
    name: docker
    enabled: yes
    state: started

- name: Create docker group
  ansible.builtin.group:
    name: docker
    state: present

- name: Add gitlab-runner user to docker group
  ansible.builtin.user:
    name: gitlab-runner
    groups: docker
    append: yes
